<div class="details">
  <h1>Product Details</h1>
  <div class="product-Details">
    <img [src]="detailsProduct?.image" />
    <div class="details-tags">
      <p>Name: {{ detailsProduct?.name }}</p>
      <p>Color: {{ detailsProduct?.color }}</p>
      <p>Category: {{ detailsProduct?.category }}</p>
      <p>Description: {{ detailsProduct?.description }}</p>
    </div>
    <div class="action-button">
      <button  *ngIf="!removeCart" (click)="addtocart()">Add to Cart</button>
      <button *ngIf="removeCart" (click)="removeTocart(detailsProduct?.id)">Remove</button>
      <button>Buy Now</button>
     

    </div>
    <div class="quantity-group">
        <button (click)="handleQuantity('min')">-</button>
        <input type="text" value="{{productQuantity}}">
        <button (click)="handleQuantity('add')">+</button>
    </div>
  </div>
</div>
