/* You can add global styles to this file, and also import other style files */
body{
    
   background-color: rgb(147, 173, 212, 0.5);
    animation: anime 4s infinite forwards;
    transition: background-color 1s ease;
}

@keyframes anime {
    0% {
      background: linear-gradient(rgb(147, 173, 212, 0.5), rgb(147, 173, 212, 0.5));
    }
    25% {
      background: linear-gradient(rgba(150, 186, 239, 0.5), rgba(150, 186, 239, 0.5));
    }
    75% {
      background: linear-gradient(rgba(126, 170, 237, 0.5), rgba(126, 170, 237, 0.5));
    }
    100% {
      background: linear-gradient(rgba(106, 158, 237, 0.5), rgba(106, 158, 237, 0.5));
    }
  }