<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="row">
                <div class="col s5">
                    <form #employeeForm="ngForm" (ngSubmit)="onsubmit(employeeForm)">
                        <label>Hello</label>
                        <input type="hidden" name="id" [(ngModel)]="selectedEmployee.id">
                        <div class="row">
                            <input type="text" name="name" #name="ngModel" [(ngModel)]="selectedEmployee.name" placeholder="enter full name">
                            <label class="red-text">Name</label>
                        </div>
                        <div class="row">
                            <input type="text" name="position" #name="ngModel" [(ngModel)]="selectedEmployee.position" placeholder="enter full name">
                            <label class="red-text">Position</label>
                        </div>
                        <div class="row">
                            <input type="text" name="office" #name="ngModel" [(ngModel)]="selectedEmployee.office" placeholder="enter full name">
                            <label class="red-text">Office</label>
                        </div>
                        <div class="row">
                            <input type="text" name="salary" #name="ngModel" [(ngModel)]="selectedEmployee.salary" placeholder="enter full name">
                            <label class="red-text">Salary</label>
                        </div>
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <div  class="col s7">

                </div>
            </div>
        </div>
    </div>
</div>