.product-header-image{
    object-fit: contain;
    height: 600px;
    width: 100%;
}
.carousel-caption{
    color: blueviolet;
    background-color: rgba(0, 0, 0, 0.174);
    border-radius: 5px;
}
.product-item{
    border: 1px solid rgba(0, 0, 0, 0.144);
    padding: 10px;
    height: 450px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.product-item img{
    width: 100%;
    padding: 20px;
    object-fit: contain;
}

.product-list-wrapper{
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    
}
.productDetails{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}
.product-footer{
    display: flex;
    justify-content: space-between;
    
}
.product-footer a{
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}
.productDetails .name-head{
    font-size: 20px;
    font-weight: 500;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}