<ngb-carousel *ngIf="popularProduct">
  <ng-template *ngFor="let product of popularProduct" ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        class="product-header-image"
        [src]="product.image"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
    </div>
  </ng-template>
</ngb-carousel>
<div class="product-list-wrapper">
  <h1>Trending Products</h1>
  <div class="row">
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://fdn2.gsmarena.com/vv/pics/samsung/samsung-galaxy-a51-sm-a515-1.jpg"
        />

        <div class="productDetails">
          <h6 class="name-head">New Apple Mobile</h6>
          <div class="product-price">
            <h6>Price: 100000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Blue</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to cart</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://fdn2.gsmarena.com/vv/pics/samsung/samsung-galaxy-a51-sm-a515-1.jpg"
        />

        <div class="productDetails">
          <h6 class="name-head">New Apple Mobile</h6>
          <div class="product-price">
            <h6>Price: 100000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Blue</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to cart</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://fdn2.gsmarena.com/vv/pics/samsung/samsung-galaxy-a51-sm-a515-1.jpg"
        />

        <div class="productDetails">
          <h6 class="name-head">New Apple Mobile</h6>
          <div class="product-price">
            <h6>Price: 100000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Blue</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to cart</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://fdn2.gsmarena.com/vv/pics/samsung/samsung-galaxy-a51-sm-a515-1.jpg"
        />

        <div class="productDetails">
          <h6 class="name-head">New Apple Mobile</h6>
          <div class="product-price">
            <h6>Price: 100000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Blue</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">View Details</a>
          <a href="">Add to cart</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="product-item">
          <img
            src="https://fdn2.gsmarena.com/vv/pics/samsung/samsung-galaxy-a51-sm-a515-1.jpg"
          />
  
          <div class="productDetails">
            <h6 class="name-head">New Apple Mobile</h6>
            <div class="product-price">
              <h6>Price: 100000</h6>
            </div>
            <div class="product-color">
              <h6>Color: Blue</h6>
            </div>
          </div>
          <div class="product-footer">
            <a href="">View Details</a>
            <a href="">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="product-item">
          <img
            src="https://fdn2.gsmarena.com/vv/pics/samsung/samsung-galaxy-a51-sm-a515-1.jpg"
          />
  
          <div class="productDetails">
            <h6 class="name-head">New Apple Mobile</h6>
            <div class="product-price">
              <h6>Price: 100000</h6>
            </div>
            <div class="product-color">
              <h6>Color: Blue</h6>
            </div>
          </div>
          <div class="product-footer">
            <a href="">View Details</a>
            <a href="">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="product-item">
          <img
            src="https://fdn2.gsmarena.com/vv/pics/samsung/samsung-galaxy-a51-sm-a515-1.jpg"
          />
  
          <div class="productDetails">
            <h6 class="name-head">New Apple Mobile</h6>
            <div class="product-price">
              <h6>Price: 100000</h6>
            </div>
            <div class="product-color">
              <h6>Color: Blue</h6>
            </div>
          </div>
          <div class="product-footer">
            <a href="">View Details</a>
            <a href="">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="product-item">
          <img
            src="https://fdn2.gsmarena.com/vv/pics/samsung/samsung-galaxy-a51-sm-a515-1.jpg"
          />
  
          <div class="productDetails">
            <h6 class="name-head">New Apple Mobile</h6>
            <div class="product-price">
              <h6>Price: 100000</h6>
            </div>
            <div class="product-color">
              <h6>Color: Blue</h6>
            </div>
          </div>
          <div class="product-footer">
            <a href="">View Details</a>
            <a href="">Add to cart</a>
          </div>
        </div>
      </div>
  </div>
</div>
