<div class="user-home">
 <div class="user-signup" *ngIf="useraccountType">
  <h1>User Signup</h1>
  <form
    #userSignup="ngForm"
    (ngSubmit)="signup(userSignup.value)"
    class="common-form"
  >
    <input
      class="input-class"
      type="text"
      placeholder="Enter your Name"
      name="name"
      ngModel
    />
    <input
      class="input-class"
      type="text"
      placeholder="Enter your Email"
      name="email"
      ngModel
    />
    <input
      class="input-class"
      type="password"
      placeholder="Enter your Password"
      name="password"
      ngModel
    />
    <button>SignUp</button>
    <p class="toggle"><a (click)="useraccount('login')">Already have an account? Click to Login</a></p>
  </form>
 </div>
 <div class="user-login" *ngIf="!useraccountType">
  <h1>User Login</h1>
  <form
    #userLogin="ngForm"
    (ngSubmit)="loginForm(userLogin.value)"
    class="common-form"
  >
  <p class="error-p">{{authError}}</p>
    <input
      class="input-class"
      type="text"
      placeholder="Enter your Email"
      name="email"
      ngModel
      #email="ngModel"
      required
      email=""
    />
    <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please Enter a valid email</span></p>
    <input
      class="input-class"
      type="password"
      placeholder="Enter your Password"
      name="password"
      ngModel
      #password="ngModel"
      required
      minlength="2"
    />
    <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Please Enter Password</span></p>
    <button [disabled]="userLogin.invalid">Login</button>
    <p class="toggle"><a (click)="useraccount('create')" >Don't have an account? Click to Create </a></p>
  </form>
 </div>
</div>
