.co-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.products{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.biilsContainer{
    display: flex;
    flex-direction: column;
}
.detailproduct{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 20px 20px;
}

#name{
    margin-left: 10px;
    margin-right: 10px;
}
/* .delete{
    width: 150px;
    height: 20px;
    background-color: red;
    color: white;
    font-weight: 500;
} */

.billdeleted{
    background: red;
    color: white;
}